In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [6]:
series_obj = Series(np.arange(8), index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6', 'row 7', 'row 8'])
series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int64

In [7]:
series_obj['row 7']

6

In [26]:
series_obj[[0,7]] ##This is deprecated

/var/folders/nl/vpzdn_951tq6p72mk3ympd700000gn/T/ipykernel_14275/3537513863.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series_obj[[0,7]] ##This is deprecated

row 1    0
row 8    7
dtype: int64

In [32]:
np.random.seed(25)
df_obj = DataFrame(np.random.rand(36).reshape((6,6)),
                   index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6'],
                   columns=['column 1', 'column 2', 'column 3', 'column 4', 'column 5', 'column 6'])
df_obj

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [18]:
df_obj.loc[['row 2', 'row 5'], ['column 5', 'column 2']]

       column 5  column 2
row 2  0.402366  0.437611
row 5  0.421004  0.559053

In [25]:
df_obj['row 3' : 'row 7']

       column 1  column 2  column 3  column 4  column 5  column 6
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [27]:
df_obj < .2

       column 1  column 2  column 3  column 4  column 5  column 6
row 1     False     False     False      True     False      True
row 2     False     False     False     False     False      True
row 3     False     False      True     False     False     False
row 4     False     False     False     False     False     False
row 5     False     False      True     False     False     False
row 6     False     False     False     False     False     False

In [35]:
df_obj[df_obj > .2]

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839       NaN  0.411100       NaN
row 2  0.684969  0.437611  0.556229  0.367080  0.402366       NaN
row 3  0.447031  0.585445       NaN  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053       NaN  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [44]:
series_obj['row 1'] = 8 ##Data slicing can be used here.
series_obj['row 5'] = 8
series_obj['row 8'] = 8
series_obj

row 1    8
row 2    8
row 3    8
row 4    3
row 5    8
row 6    5
row 7    6
row 8    8
dtype: int64